@charset "UTF-8";
@font-face {
  font-family: "Conv_PTC75F";
  src: url("fonts/PTC75F.eot");
  src: local("☺"), url("fonts/PTC75F.woff") format("woff"), url("fonts/PTC75F.ttf") format("truetype"), url("fonts/PTC75F.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_PTC55F";
  src: url("fonts/PTC55F.eot");
  src: local("☺"), url("fonts/PTC55F.woff") format("woff"), url("fonts/PTC55F.ttf") format("truetype"), url("fonts/PTC55F.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_belinda";
  src: url("fonts/belinda.eot");
  src: local("☺"), url("fonts/belinda.woff") format("woff"), url("fonts/belinda.ttf") format("truetype"), url("fonts/belinda.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_MyriadPro-Regular";
  src: url("fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 600px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  text-align: center;
  padding-top: 60px;
  font-size: 62px;
  font-family: "Conv_belinda";
  text-decoration: none;
  color: #FFF;
  margin: 0 auto;
  margin-bottom: 47px;
}

.header_background {
  width: 100%;
  height: 700px;
  background: url(img/-bacgrounffirst.png) no-repeat 40% 50%;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header_body {
  position: relative;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header_list {
  display: flex;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 500px;
}

.header_list li {
  list-style: none;
  margin: 0px 0px 0px 30px;
  text-transform: uppercase;
  color: #FFF;
}

.header_menu {
  margin: 0 auto;
}
.header_menu a {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  font-family: "Conv_PTC55F";
}
.header_menu a:hover {
  color: #DB0809;
  border-bottom: 1px solid #DB0809;
  transition: 0.4s;
}

a {
  font-family: "Conv_PTC55F";
  text-decoration: none;
}

.header_content {
  width: 586px;
  margin: 0 auto;
  text-align: center;
}
.header_content h1 {
  font-family: "Conv_MyriadPro-Regular";
  font-size: 62px;
  color: #ffffff;
  margin-top: 80px;
  letter-spacing: 1px;
}
.header_content .separator {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.header_content .separator p {
  color: #ffffff;
  font-size: 18px;
  font-family: "Conv_MyriadPro-Regular";
}
.header_content .separator::before,
.header_content .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #666666;
}
.header_content .separator:not(:empty)::before {
  margin-right: 4.25em;
}
.header_content .separator:not(:empty)::after {
  margin-left: 4.25em;
}

.button {
  padding: 18px 52px;
  margin: 0 auto;
  margin-top: 63px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
  z-index: 5;
  position: relative;
  transition: 0.3s;
}
.button:hover {
  background: #DB0809;
  color: #ffffff;
  padding: 18px 62px;
}
.button a {
  font-family: "Conv_MyriadPro-Regular";
}

.content_box {
  width: 590px;
  display: flex;
  position: relative;
  z-index: 2;
  padding-top: 57px;
}
.content_box div:first-child {
  background: url(img/man.png) no-repeat top center;
  width: 180px;
  height: 180px;
  margin-right: 50px;
  text-align: center;
}
.content_box div:first-child h3 {
  font-family: "Conv_PTC75F";
  margin-bottom: 50px;
  padding-top: 66px;
}
.content_box div:first-child p {
  font-family: "Conv_PTC55F";
  font-size: 14px;
}
.content_box div:nth-child(2) {
  width: 180px;
  height: 180px;
  background: url(img/heart.png) no-repeat top center;
  margin-right: 50px;
  text-align: center;
}
.content_box div:nth-child(2) h3 {
  padding-top: 66px;
  font-family: "Conv_PTC75F";
  margin-bottom: 50px;
}
.content_box div:nth-child(2) p {
  font-family: "Conv_PTC55F";
  font-size: 14px;
}
.content_box div:last-child {
  width: 180px;
  height: 180px;
  background: url(img/headset.png) no-repeat top center;
  text-align: center;
}
.content_box div:last-child h3 {
  font-family: "Conv_PTC75F";
  margin-bottom: 50px;
  padding-top: 66px;
}
.content_box div:last-child p {
  font-family: "Conv_PTC55F";
  font-size: 14px;
}

section:nth-child(2) {
  background: #cccccc;
  width: 100%;
  min-height: 300px;
  margin-bottom: 35px;
  padding-bottom: 70px;
}

article:nth-child(4) {
  background: #cccccc;
  width: 100%;
  height: 300px;
}

.small_box {
  margin-top: 134px;
  display: flex;
}
.small_box div:first-child {
  height: 387px;
  width: 276px;
  margin-right: 60px;
  background: url(img/car.png) no-repeat;
  background-size: 264px;
}
.small_box div:first-child h3 {
  padding-top: 210px;
  padding-bottom: 15px;
  font-family: "Conv_PTC55F";
  font-size: 18px;
  text-transform: uppercase;
}
.small_box div:first-child p {
  font-family: "Conv_PTC55F";
  font-size: 13px;
  color: 666699;
}
.small_box div:first-child a {
  padding: 11px 20px;
  margin: 0 auto;
  margin-top: 63px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
}
.small_box div:last-child {
  height: 387px;
  width: 272px;
  background: url(img/meeting.png) no-repeat;
}
.small_box div:last-child h3 {
  padding-top: 210px;
  padding-bottom: 15px;
  font-family: "Conv_PTC55F";
  font-size: 18px;
  text-transform: uppercase;
}
.small_box div:last-child p {
  font-family: "Conv_PTC55F";
  font-size: 13px;
  color: 666699;
}
.small_box div:last-child a {
  padding: 11px 20px;
  margin: 0 auto;
  margin-top: 63px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
}

.text_container {
  margin-top: 100px;
  padding-top: 50px;
}
.text_container h2 {
  padding-bottom: 40px;
  font-family: "Conv_MyriadPro-Regular";
  position: relative;
}
.text_container h2 p {
  font-family: "Conv_MyriadPro-Regular";
  color: 666699;
}
.text_container a {
  padding: 11px 20px;
  margin: 0 auto;
  margin-top: 63px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
  font-family: "Conv_MyriadPro-Regular";
}

.second_text_container {
  display: flex;
  margin-top: 50px;
}
.second_text_container h3 {
  padding-top: 180px;
  font-family: "Conv_MyriadPro-Regular";
  padding-bottom: 30px;
  text-transform: uppercase;
}
.second_text_container p {
  font-family: "Conv_MyriadPro-Regular";
  color: #cccccc;
  padding-bottom: 20px;
}
.second_text_container a {
  text-decoration: none;
  color: #66cc99;
}
.second_text_container div {
  width: 180px;
  height: 313px;
}
.second_text_container div:first-child {
  background: url(img/scy.png) no-repeat;
  margin-right: 23px;
}
.second_text_container div:nth-child(2) {
  background: url(img/road.png) no-repeat;
  margin-right: 23px;
}
.second_text_container div:last-child {
  background: url(img/foot.png) no-repeat;
}

article:nth-child(6) {
  background: #cccccc;
  width: 100%;
  height: 300px;
}

.thitd_container {
  margin-top: 70px;
  display: flex;
}
.thitd_container h2 {
  padding-top: 60px;
  padding-bottom: 40px;
}
.thitd_container a {
  padding: 11px 20px;
  margin: 0 auto;
  margin-top: 63px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
  font-family: "Conv_MyriadPro-Regular";
}
.thitd_container div:first-child {
  margin-right: 30px;
}

.firty_container {
  max-width: 600px;
  height: 214px;
  display: flex;
  margin-top: 62px;
}
.firty_container div {
  width: 268px;
  height: 207px;
}
.firty_container div:first-child {
  background: url(img/camera.png) no-repeat;
}
.firty_container div:last-child {
  margin-left: 25px;
  width: 291px;
}
.firty_container div:last-child h3 {
  font-family: "Conv_MyriadPro-Regular";
  padding-bottom: 47px;
  text-transform: uppercase;
}
.firty_container div:last-child p {
  font-family: "Conv_MyriadPro-Regular";
  color: #cccccc;
}
.firty_container a {
  padding: 11px 20px;
  margin: 0 auto;
  margin-top: 13px;
  color: #ffffff;
  background-color: #66cc99;
  display: inline-block;
  border-radius: 30px;
  font-family: "Conv_MyriadPro-Regular";
}

section:nth-child(8) {
  width: 100%;
  height: 221px;
  background-color: #66cc99;
  margin-top: 60px;
}
section:nth-child(8) h3 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
  font-family: "Conv_MyriadPro-Regular";
}
article:nth-child(8) h3::before {
  content: url(img/star.png);
}

.five_container {
  display: flex;
  height: 221px;
  max-width: 600px;
}
.five_container h1 {
  margin-left: 30px;
  margin: 0 auto;
  margin-top: 50px;
  color: #ccffff;
  font-family: "Conv_MyriadPro-Regular";
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
footer div:last-child img {
  padding-left: 15px;
}

@media (max-width: 768px) {
  .header_burger {
    display: block;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 7;
    margin-left: auto;
    align-self: center;
    z-index: 20;
  }

  .header_burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 44%;
  }

  .header_burger::before,
  .header_burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.3s;
  }

  .header_burger::before {
    top: 0;
  }

  .header_burger::after {
    bottom: 0;
  }

  .header_burger::before {
    top: 0;
  }

  .header_burger::after {
    bottom: 0;
  }

  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header_burger.active span {
    display: none;
  }

  .header_menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    padding-top: 70px;
    top: -120%;
  }

  .header_menu.active {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    padding-top: 70px;
    top: 0%;
    transition: 0.3s;
    z-index: 10;
  }

  .header_list {
    display: block;
  }

  .header_list li {
    margin-bottom: 20px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__logo {
    display: block;
    text-align: center;
    padding-top: 0px;
    font-size: 62px;
    font-family: "Conv_belinda";
    text-decoration: none;
    color: #FFF;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
.flex {
  display: flex;
}

@media (max-width: 628px) {
  article:nth-child(2) {
    background: #cccccc;
    width: 100%;
    height: 300px;
    height: 746px;
  }

  .header_content h1 {
    font-family: "Conv_MyriadPro-Regular";
    font-size: 40px;
    color: #ffffff;
    margin-top: 58px;
    letter-spacing: 1px;
  }

  .header_background {
    width: 100%;
    height: 474px;
    background: url(img/-bacgrounffirst.png) no-repeat 40% 50%;
    background-size: cover;
    z-index: -1;
  }

  .wrapper {
    max-width: 480px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header_content .separator {
    margin-top: 30px;
    display: block;
    align-items: center;
    text-align: center;
  }

  .header_content {
    width: 386px;
    margin: 0 auto;
    text-align: center;
  }

  .content_box {
    width: 176px;
    display: flex;
    position: relative;
    z-index: 2;
    padding-top: 57px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .content_box div:first-child {
    background: url(img/man.png) no-repeat top center;
    width: 180px;
    height: 180px;
    margin-right: 0px;
    text-align: center;
  }
  .content_box div:first-child h3 {
    font-family: "Conv_PTC75F";
    margin-bottom: 50px;
    padding-top: 66px;
  }
  .content_box div:first-child p {
    font-family: "Conv_PTC55F";
    font-size: 14px;
  }
  .content_box div:nth-child(2) {
    width: 180px;
    height: 180px;
    background: url(img/heart.png) no-repeat top center;
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
  }
  .content_box div:nth-child(2) h3 {
    padding-top: 66px;
    font-family: "Conv_PTC75F";
    margin-bottom: 50px;
  }
  .content_box div:nth-child(2) p {
    font-family: "Conv_PTC55F";
    font-size: 14px;
  }
  .content_box div:last-child {
    width: 180px;
    height: 180px;
    background: url(img/headset.png) no-repeat top center;
    text-align: center;
    margin-top: 30px;
  }
  .content_box div:last-child h3 {
    font-family: "Conv_PTC75F";
    margin-bottom: 50px;
    padding-top: 66px;
  }
  .content_box div:last-child p {
    font-family: "Conv_PTC55F";
    font-size: 14px;
  }

  .small_box {
    margin-top: 63px;
    display: flex;
    flex-flow: wrap;
    width: 254px;
    margin: 0 auto;
  }

  .small_box div:first-child a {
    padding: 11px 20px;
    margin: 0 auto;
    margin-top: 27px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
  }

  .small_box div:last-child a {
    padding: 11px 20px;
    margin: 0 auto;
    margin-top: 30px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
  }

  .small_box div:last-child {
    height: 387px;
    width: 272px;
    background: url(img/meeting.png) no-repeat;
    margin-top: 30px;
  }

  .small_box div:first-child {
    height: 387px;
    width: 276px;
    margin-right: 0px;
    background: url(img/car.png) no-repeat;
    background-size: 264px;
  }

  .text_container a {
    padding: 11px 20px;
    margin: 0 auto;
    margin-top: 29px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
    font-family: "Conv_MyriadPro-Regular";
  }

  .text_container h2 {
    padding-bottom: 25px;
    font-family: "Conv_MyriadPro-Regular";
    position: relative;
  }

  .second_text_container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 212px;
    margin: 0 auto;
  }

  .second_text_container div:nth-child(2) {
    background: url(img/road.png) no-repeat;
    margin-right: 23px;
    margin-bottom: 36px;
  }

  .second_text_container div:first-child {
    background: url(img/scy.png) no-repeat;
    margin-right: 23px;
    margin-bottom: 36px;
    margin-top: 32px;
  }

  .thitd_container a {
    padding: 11px 20px;
    margin: 0 auto;
    margin-top: 24px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
    font-family: "Conv_MyriadPro-Regular";
  }

  .thitd_container h2 {
    padding-top: 60px;
    font-size: 20px;
    padding-bottom: 40px;
  }

  .thitd_container h2 {
   padding-top: 35px;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .thitd_container {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  section:nth-child(6) {
    background: #cccccc;
    width: 100%;
    height: 448px;
  }

  .firty_container div:last-child {
    margin-left: 25px;
    width: 320px;
    height: 260px;
    background: url(img/camera.png) no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .firty_container div:last-child h3 {
    font-family: "Conv_MyriadPro-Regular";
    padding-bottom: 47px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    padding-top: 31px;
  }

  .firty_container div:first-child {
    background: url(img/camera.png) no-repeat;
    display: none;
  }

  .firty_container div:last-child p {
    font-family: "Conv_MyriadPro-Regular";
    color: #ffffff;
    width: 290px;
    margin: 0 auto;
  }

  .firty_container a {
    padding: 11px 20px;
    margin: 0 auto;
    margin-top: 13px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
    font-family: "Conv_MyriadPro-Regular";
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 30px;
  }

  .five_container {
    display: flex;
    height: 90px;
    max-width: 600px;
    flex-wrap: wrap;
  }

  .five_container h1 {
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 50px;
    color: #ccffff;
    font-family: "Conv_MyriadPro-Regular";
  }
}
@media (max-width: 435px) {
  .five_container h1 {
    margin-left: 30px;
    margin: 0 auto;
    margin-top: 30px;
    color: #ccffff;
    font-family: "Conv_MyriadPro-Regular";
  }
}
@media (max-width: 400px) {
  .wrapper {
    max-width: 315px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header__logo {
    display: block;
    text-align: center;
    padding-top: 0px;
    font-size: 50px;
    font-family: "Conv_belinda";
    text-decoration: none;
    color: #FFF;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .header_content {
    width: 288px;
    margin: 0 auto;
    text-align: center;
  }
  .firty_container {
    max-width: 600px;
    height: 214px;
    display: flex;
    margin-top: 13px;
}
  .button {
    padding: 18px 52px;
    margin: 0 auto;
    margin-top: 41px;
    color: #ffffff;
    background-color: #66cc99;
    display: inline-block;
    border-radius: 30px;
    z-index: 5;
    position: relative;
    transition: 0.3s;
    font-size: 15px;
  }

  .header_content h1 {
    font-family: "Conv_MyriadPro-Regular";
    font-size: 30px;
    color: #ffffff;
    margin-top: 58px;
    letter-spacing: 1px;
  }
  footer div {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 15px;
}
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  footer div {
    margin: 0 auto;
    margin-top: 20px;
  }
  footer div:last-child img {
    padding-left: 15px;
  }
}